/* GENERAL */
html, body {
    width: 8.5in;
    height: 11in;
}

body {
    position: relative;
    margin: 0;
    font-family: 'Source Sans Pro';
    line-height: 1.6;
}

p:last-of-type {
    margin-bottom: 0;
}

/* BOX */
.box {
    padding: 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
}

.box:not(:first-of-type) {
    margin-top: 10px;
}

/* HEADER */
header {
    margin-bottom: 20px;
    text-align: center;
    /* text-transform: uppercase; */
    line-height: initial;
}

header .name {
    font-size: 24px;
    font-weight: 600;
}

header .role {
    opacity: .75;
}

/* SKILLS */

.skills span {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 20px;
  background-color: black;
  border-radius: 200px;
  color: white;
  font-weight: 300;
}

.section-title {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0;
}

/* JOB */
.job .title {
    font-size: 18px;
    font-weight: 600;
}

/* CONTACT */
.contact {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-type {
    font-weight: 600;
}